<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".f4v" mimeType="application/x-mpegURL" />
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
            <mimeMap fileExtension=".ts" mimeType="video/MP2T" />
        </staticContent>
    </system.webServer>
</configuration>
